<% max_height = 15 %>
<script>
	var max_height = <%= max_height %>;
</script>

<table>
	<% (0..max_height-1).each do |i| %>
	<tr >
		<% (1..10).each do |j| %>
		<td id="<%= i*10+j %>"><%= i*10+j %></td>
		<% end %>
	</tr>
	<% end %>
</table>


<script>
	var l = function(){
		console.log(arguments);
	};
	var block_type = [];

	// block rotation
	block_type[0] = { box: [[0,1,0,0], [1,1,1,0], [0,0,0,0], [0,0,0,0] ], status: 0, // 4 status 
		b_type: 0 };
	block_type[1] = { box: [[1,1,1,1], [0,0,0,0], [0,0,0,0], [0,0,0,0] ], status: 0, // 2 status
		b_type: 1 };
	block_type[2] = { box: [[1,0,0,0], [1,1,1,0], [0,0,0,0], [0,0,0,0] ], status: 0, // 4 status
		b_type: 2 };
    block_type[3] = { box: [[1,1,0,0], [1,1,0,0], [0,0,0,0], [0,0,0,0] ], status: 0, // 1 status
		b_type: 3 };

	var current_x = 1;
	var current_y = 0;
	var current_block = block_type[0];
	var game_over = false;
	var game_over_message = false;
		
	// block rotation
	var block_maker = function(block){
		if (game_over == false){
			var box = block['box'];
			var need_move_to_left = false;
			for (var i = 0; i < 4; i++) {
				for (var j = 0; j < 4; j++) {
					if (box[i][j] == 1){
						var id = (current_y+i) * 10 + (current_x +j)	
						if (current_x + j > 10){
							need_move_to_left = true;
						} 
						if ($('#'+id).attr('class') == 'stop_block'){
							game_over = true;
							
						}else{
							$('#'+id).attr('class','down_block');
						}
							
					}
				};
			};
		}
		if (game_over == true && game_over_message == false){
			game_over_message = true;
			alert('game_over');
		}
		if (need_move_to_left == true){
			move('left');
		}
		
	};

	var move = function(direction){
		if (direction != undefined && check_can_moving(direction) == true){ 
			
			if (direction == 'down'){
				current_y += 1;	
			}else if(direction == 'right'){
				current_x += 1;	
				
			}else if(direction == 'left'){
				current_x -= 1;	
			
			}
			$('.down_block').attr('class','');
			block_maker(current_block);
		}
	};

	var stop = function(){
		$('.down_block').attr('class','stop_block');
		current_x = 1;
		current_y = 0;
		current_block = block_type[Math.floor(Math.random()*block_type.length)]; //random_make
		check_full_line();
	};

	var check_can_moving = function(direction){
		var blocks = $('.down_block');
		var block_ids = [];
		for (var i = 0; i < blocks.length; i++) {
			block_ids[i] = parseInt($(blocks[i]).attr('id'));
		};

		var can_moving = true;

		if (direction == 'down'){
			if ((current_y + parseInt(max_y())) == max_height-1){
				//todo add under block is stop_block // needed?
				stop();
			}else{
				for (var i = 0; i < block_ids.length; i++) {
					block_ids[i] = parseInt($(blocks[i]).attr('id'));
					var new_id = block_ids[i]+10 ;
					if ($('#'+ new_id).attr('class') == 'stop_block' ){
						stop();
					}
				};
			}
		}else if(direction == 'right'){
			if ((current_x+1) > (10 - parseInt(max_x()))){
				can_moving = false;
			}else{
				for (var i = 0; i < block_ids.length; i++) {
					block_ids[i] = parseInt($(blocks[i]).attr('id'));
					var new_id = block_ids[i]+1 ;
					if ($('#'+ new_id).attr('class') == 'stop_block' ){
						can_moving = false;
					}
				};
			}
				
		}else if(direction == 'left'){
			if (current_x == 1){
				can_moving = false;
			}else{
				for (var i = 0; i < block_ids.length; i++) {
					block_ids[i] = parseInt($(blocks[i]).attr('id'));
					var new_id = block_ids[i]-1 ;
					if ($('#'+ new_id).attr('class') == 'stop_block' ){
						can_moving = false;
					}
				};
			}
		}
		return can_moving;
	};

	var check_full_line = function(){
		for (var i = 0; i < max_height; i++) {
			var count = 0;
			for (var j = 1; j <= 10; j++) {
				var id = i * 10 + j;
				if ($('#'+id).attr('class') == 'stop_block'){
					count += 1;
				}
			};
			if (count == 10){ // remove stop blocks in line 
				for (var j = 1; j <= 10; j++) {
					var id = i * 10 + j;
					$('#'+id).attr('class','');
				};
			}
		};
		down_to_empty_line();
	};

	var down_to_empty_line = function(){
		var top_line = max_height;
		var empty_lines = [];
		var repeat_down = false;
		for (var i = max_height-1; i >= 0; i--) {
			var count = 0;
			for (var j = 1; j <= 10; j++) {
				var id = i * 10 + j;
				if ($('#'+id).attr('class') == 'stop_block'){
					top_line = i;
					count += 1;
				}
			};
			if (count == 0){
				empty_lines.push(i);
			}
		};

		for (var k = 0; k < empty_lines.length; k++) {
			if (empty_lines[k] > top_line){
				for (var i = empty_lines[k]; i >= 0; i--) {
					for (var j = 1; j <= 10; j++) {
						var current_id = i * 10 + j;
						var upper_id = (i-1) * 10 + j;
						var upper_class = $('#'+upper_id).attr('class');
						$('#'+current_id).attr('class',upper_class);
					};	
				};
				top_line += 1;
			} 
		};
		
		for (var i = 0; i < empty_lines.length-1; i++) {
			var diff = empty_lines[i] - empty_lines[i+1];
			if (diff == 1 && empty_lines[i] > top_line){
				repeat_down = true;
			}
		};
		if (repeat_down == true){
			down_to_empty_line();	
		}
		

	};

	var change_block = function(){
		current_block['status'] += 1;
			
		if (current_block['b_type'] == 0){
			if (current_block['status'] > 3){
				current_block['status'] = 0;
			}

			if (current_block['status'] == 0) {
				current_block['box'] = [[0,1,0,0], [1,1,1,0], [0,0,0,0], [0,0,0,0]];
			}else if(current_block['status'] == 1){
				current_block['box'] = [[1,0,0,0], [1,1,0,0], [1,0,0,0], [0,0,0,0]];
			}else if(current_block['status'] == 2){
				current_block['box'] = [[1,1,1,0],[0,1,0,0],[0,0,0,0],[0,0,0,0]];
			}else if(current_block['status'] == 3){
				current_block['box'] = [[0,1,0,0],[1,1,0,0],[0,1,0,0],[0,0,0,0]];
			}

		}else if (current_block['b_type'] == 1){
			if (current_block['status'] > 1){
				current_block['status'] = 0;
			}

			if (current_block['status'] == 0) {
				current_block['box'] = [[1,1,1,1],[0,0,0,0],[0,0,0,0],[0,0,0,0]];
			}else if(current_block['status'] == 1){
				current_block['box'] = [[1,0,0,0],[1,0,0,0],[1,0,0,0],[1,0,0,0]];
			}
		}else if (current_block['b_type'] == 2){
			if (current_block['status'] > 3){
				current_block['status'] = 0;
			}

			if (current_block['status'] == 0) {
				current_block['box'] = [[1,0,0,0], [1,1,1,0], [0,0,0,0], [0,0,0,0]];
			}else if(current_block['status'] == 1){
				current_block['box'] = [[1,1,0,0], [1,0,0,0], [1,0,0,0], [0,0,0,0]];
			}else if(current_block['status'] == 2){
				current_block['box'] = [[1,1,1,0],[0,0,1,0],[0,0,0,0],[0,0,0,0]];
			}else if(current_block['status'] == 3){
				current_block['box'] = [[0,1,0,0],[0,1,0,0],[1,1,0,0],[0,0,0,0]];
			}
			
		}else if(current_block['b_type'] == 3){
			//none
		}
		remove_current_block();
		block_maker(current_block);
	}

	var remove_current_block = function(){
		$('.down_block').attr('class','');
	}

	var max_x = function(){
		var box = current_block['box'];
		var max_x = 0;

		for (var i = 0; i < 4; i++) {
			for (var j = 0; j < 4; j++) {
				if (box[i][j] == 1 && max_x < j){
					max_x = j;
				}
			};
		};
		return max_x;
	}
	var max_y = function(){
		var box = current_block['box'];
		var max_y = 0;

		for (var i = 0; i < 4; i++) {
			for (var j = 0; j < 4; j++) {
				if (box[i][j] == 1 && max_y < i){
					max_y = i;
				}
			};
		};
		return max_y;
	}

	$(document).ready(function(){
	    
		block_maker(current_block);
		
		setInterval(function(){move('down')},1000);
	});

	$(document).keydown(function(e){
	    if (e.keyCode == 37) { 
	        move('left');
	    }else if (e.keyCode == 39){
		    move('right');
	    }else if (e.keyCode == 40){
		    move('down');
	    }else if (e.keyCode == 38){
	    	change_block();
	    }
	});

	
</script>
<style>
.down_block{
	background-color: yellow;
}
.stop_block{
	background-color: black;
}
td{
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	border: solid #ddd 3px;
}
</style>